.comic-main{
    display: flex;
    padding: 32px;
    background-color: #e4e4e4;
}

.comic-cover{
    max-width: 300px;
    padding-right: 24px;
}

.comic-info{
    flex-grow: 1;
    padding-left: 24px;

    .action-btn{
        display: inline-block;
        border: 2px solid #000;
        background-color: $marvelred;
        color: #fff;
        font-weight: 700;
        padding: 8px 16px;
        font-size: .75rem;
        transition: color .25s ease, background-color .25s ease;

        &:hover{
            background-color: #fff;
            color: #222;
        }
        &.hide{
            display: none;
        }
    }
}

@media(max-width: 900px){
    .comic-main{
        flex-direction: column;
    }
    .comic-cover{
        padding: 0;
    }

    .comic-info{
        padding: 24px 0 0 0;
    }
}
